/* Стили блока со ссылкой на метод Фейнмана - Feynman */
.feynman {
  box-sizing: border-box;
  position: relative;
  padding-top: 100px;
  height: 890px;
  background: #f2f2f2 url(../../images/feynman.png) bottom left no-repeat;
}
